<h1 class="title">Lista de ofertas</h1>
<div class="column is-12 is-offset-0">
  <div class="box">
    <div class="columns">
      <div class="column is-narrow">
        <div class="select is-vcentered is-medium">
          <select class="is-flex">
            <option>Semanal</option>
            <option>Todo</option>
          </select>
        </div>
      </div>
      <div class="field column is-expanded">
        <div class="control has-icons-right">
          <input class="input is-medium" type="text" placeholder="Buscar por nombre del producto">
          <span class="icon is-small is-right">
          <fa-icon [icon]="faSearch"></fa-icon>
        </span>
        </div>
      </div>
    </div>
    <div class="columns is-vcentered" *ngFor="let productor of productores">
      <div class="column is-9 has-text-left is-size-3">
        <a
          href="/usuario/productor/detail/{{productor.id}}"
        >{{productor.nombre}}</a
        >
      </div>
      <div class="column is-3">
        <a
          class="button is-danger is-medium is-fullwidth"
          href=""
        >Quitar</a
        >
      </div>
    </div>
    <div class="field columns">
      <div class="column">
        <a
          class="button is-danger is-medium is-fullwidth"
          href=""
        >Cancelar</a
        >
      </div>
      <div class="column">
        <a
          class="button is-info is-medium is-fullwidth"
          href=""
        >Publicar oferta</a
        >
      </div>
    </div>
  </div>
</div>
