<h1 class="title">Lista de ofertas</h1>
<div class="column is-12 is-offset-0">
  <div class="box">
    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="text" placeholder="Buscar por nombre del productor">
        <span class="icon is-small is-right">
          <fa-icon [icon]="faSearch"></fa-icon>
        </span>
      </div>
    </div>
    <div class="columns is-vcentered">
      <div class="column is-9 has-text-left is-size-3">
        <a
          href=""
        >Productor</a
        >
      </div>
      <div class="column is-3">
        <button
          class="button is-info is-medium"
          href=""
        >Detalle
        </button
        >
      </div>
    </div>
    <div class="field columns">
      <div class="column">
        <button
          class="button is-danger is-medium"
          href=""
        >Cancelar
        </button
        >
      </div>
      <div class="column">
        <button
          class="button is-info is-medium"
          href=""
        >Ver seleccionados
        </button
        >
      </div>

    </div>
  </div>
</div>
