<h1 class="title">Lista de canastas del catalogo</h1>
<div class="column is-12 is-offset-0">
  <div class="box">
    <div class="field column is-expanded">
      <div class="control has-icons-right">
        <input class="input is-medium" type="text" placeholder="Buscar por nombre de la canasta" (input)="search()" id="search-bar">
        <span class="icon is-small is-right">
          <fa-icon [icon]="faSearch"></fa-icon>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="is-vcentered p-4 element" *ngFor="let canasta of canastas">
        <div class="box">
          <div class="has-text-left is-size-3 columns">
            <div class="column">
              <a
                class="text-decoration-none"
                href="/catalogo/producto-catalogo/{{canasta.id}}"
              >{{canasta.nombre}}</a
              >
            </div>
            <div class="column is-3" *ngIf="canasta.activado == true">
              <button
                class="button is-info is-medium is-fullwidth text-decoration-none"
                (click)="cambiarActivado(canasta.id, canasta, canasta.activado)"
              >Deshabilitar
              </button
              >
            </div>
            <div class="column is-3" *ngIf="canasta.activado == false">
              <button
                class="button is-info is-medium is-fullwidth"
                (click)="cambiarActivado(canasta.id, canasta, canasta.activado)"
              >Habilitar
              </button
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
