<h1 class="title">Lista de canastas del catalogo</h1>
<div class="column is-12 is-offset-0">
  <div class="box">
    <div class="field column is-expanded">
      <div class="control has-icons-right">
        <input (input)="search()" class="input is-medium" id="search-bar" placeholder="Buscar por nombre de la canasta"
               type="text">
        <span class="icon is-small is-right">
          <fa-icon [icon]="faSearch"></fa-icon>
        </span>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let canasta of canastas" class="is-vcentered p-4 element">
        <div class="box">
          <div class="has-text-left is-size-3 columns">
            <div class="column">
              <a
                class="text-decoration-none"
                href="/catalogo/producto-catalogo/{{canasta.id}}"
              >{{canasta.nombre}}</a
              >
            </div>
            <div *ngIf="canasta.activado == true" class="column is-3">
              <button
                (click)="cambiarActivado(canasta.id, canasta, canasta.activado)"
                class="button is-info is-medium is-fullwidth text-decoration-none"
              >Deshabilitar
              </button
              >
            </div>
            <div *ngIf="canasta.activado == false" class="column is-3">
              <button
                (click)="cambiarActivado(canasta.id, canasta, canasta.activado)"
                class="button is-info is-medium is-fullwidth"
              >Habilitar
              </button
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
