<div class="column">
  <h1 class="title">Productos seleccionados</h1>
  <div class="box">
    <div class="field">
      <div class="control has-icons-right">
        <input class="input is-medium" type="text" placeholder="Buscar por nombre del producto">
        <span class="icon is-small is-right">
          <fa-icon [icon]="faSearch"></fa-icon>
        </span>
      </div>
    </div>
    <div class="columns is-vcentered">
      <div class="column is-6 has-text-left is-size-3">
        <a
          href=""
        >Nombre</a
        >
      </div>
      <div class="column is-3">
        <button
          class="button is-info is-medium is-fullwidth"
        >Editar</button
        >
      </div>
      <div class="column is-3">
        <button
          class="button is-danger is-medium is-fullwidth"
        >Eliminar</button
        >
      </div>
    </div>
    <div class="field columns">
      <div class="column">
        <button
          class="button is-danger is-medium is-fullwidth"
          href=""
        >Cancelar</button
        >
      </div>
      <div class="column">
        <button
          class="button is-info is-medium is-fullwidth"
          href=""
        >Crear oferta</button
        >
      </div>

    </div>
  </div>
</div>
