<h1 class="title">Lista de productos del catalogo</h1>
<div class="column is-12 is-offset-0">
  <div class="box">
    <div class="field column is-expanded">
      <div class="control has-icons-right">
        <input (input)="search()" class="input is-medium" id="search-bar" placeholder="Buscar por nombre del producto"
               type="text">
        <span class="icon is-small is-right">
          <fa-icon [icon]="faSearch"></fa-icon>
        </span>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let productoCatalogo of productosCatalogo" class="is-vcentered p-4 element">
        <div class="box">
          <div class="has-text-left is-size-3 columns">
            <div class="column">
              <a
                class="text-decoration-none"
                href="/catalogo/producto-catalogo/{{productoCatalogo.id}}"
              >{{productoCatalogo.nombre}}</a
              >
            </div>
            <div class="column is-2">
              <a
                class="button is-info is-medium is-fullwidth text-decoration-none"
                href="/catalogo/producto-catalogo/update/{{productoCatalogo.id}}"
              >Editar</a
              >
            </div>
            <div *ngIf="productoCatalogo.activado == true" class="column is-2">
              <button
                (click)="cambiarActivado(productoCatalogo.id, productoCatalogo, productoCatalogo.activado)"
                class="button is-info is-medium is-fullwidth text-decoration-none"
              >Deshabilitar
              </button
              >
            </div>
            <div *ngIf="productoCatalogo.activado == false" class="column is-2">
              <button
                (click)="cambiarActivado(productoCatalogo.id, productoCatalogo, productoCatalogo.activado)"
                class="button is-info is-medium is-fullwidth"
              >Habilitar
              </button
              >
            </div>
            <div class="column is-2">
              <button
                (click)="eliminar(productoCatalogo)"
                class="button is-danger is-medium is-fullwidth"
              >Eliminar
              </button
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
