<h1 class="title">Panel de control</h1>
<div class="column is-12 is-offset-0">
  <div class="box">
    <div class="box">
      <div class="columns">
        <div class="column">
          <h2 class="title has-text-black">
            Clientes
          </h2>
        </div>
        <div class="column">
          <a
            class="button is-info is-medium is-fullwidth"
            href="admin/cliente/list"
          >Lista clientes</a
          >
        </div>
        <div class="column">
          <a
            class="button is-info is-medium is-fullwidth"
            href="usuario/cliente/create"
          >Crear cliente</a
          >
        </div>
      </div>
    </div>
    <div class="box">
      <div class="columns">
        <div class="column">
          <h2 class="title has-text-black">
            Productores
          </h2>
        </div>
        <div class="column">
          <a
            class="button is-info is-medium is-fullwidth"
            href="admin/productor/list"
          >Lista productores</a
          >
        </div>
        <div class="column">
          <a
            class="button is-info is-medium is-fullwidth"
            href="usuario/productor/create"
          >Crear productor</a
          >
        </div>
      </div>
    </div>
    <div class="box">
      <div class="columns">
        <div class="column">
          <h2 class="title has-text-black">
            Productos
          </h2>
        </div>
        <div class="column">
          <a
            class="button is-info is-medium is-fullwidth"
            href="admin/producto/list"
          >Lista productos</a
          >
        </div>
        <div class="column">
          <a
            class="button is-info is-medium is-fullwidth"
            href="catalogo/producto/create"
          >Crear producto</a
          >
        </div>
      </div>
    </div>
    <div class="box">
      <div class="columns">
        <div class="column">
          <h2 class="title has-text-black">
            Productos catalogo
          </h2>
        </div>
        <div class="column">
          <a
            class="button is-info is-medium is-fullwidth"
            href="admin/producto-catalogo/list"
          >Lista productos catalogo</a
          >
        </div>
        <div class="column">
          <a
            class="button is-info is-medium is-fullwidth"
            href="catalogo/producto-catalogo/create"
          >Crear producto catalogo</a
          >
        </div>
      </div>
    </div>
    <div class="box">
      <div class="columns">
        <div class="column">
          <h2 class="title has-text-black">
            Pedidos clientes
          </h2>
        </div>
        <div class="column">
          <a
            class="button is-info is-medium is-fullwidth"
            href="admin/pedido-cliente/list"
          >Lista pedidos</a
          >
        </div>
        <div class="column">
          <a
            class="button is-info is-medium is-fullwidth"
            href="catalogo/pedido/cliente/create"
          >Crear pedido</a
          >
        </div>
      </div>
    </div>
    <div class="box">
      <div class="columns">
        <div class="column">
          <h2 class="title has-text-black">
            Pedidos productores
          </h2>
        </div>
        <div class="column">
          <a
            class="button is-info is-medium is-fullwidth"
            href="admin/pedido-productor/list"
          >Lista pedidos</a
          >
        </div>
        <div class="column">
          <a
            class="button is-info is-medium is-fullwidth"
            href="catalogo/pedido/productor/create"
          >Crear pedido</a
          >
        </div>
      </div>
    </div>
    <div class="box">
      <div class="columns">
        <div class="column">
          <h2 class="title has-text-black">
            Ofertas
          </h2>
        </div>
        <div class="column">
          <a
            class="button is-info is-medium is-fullwidth"
            href="admin/oferta/list"
          >Lista ofertas</a
          >
        </div>
        <div class="column">
          <a
            class="button is-info is-medium is-fullwidth"
            href="catalogo/oferta/create"
          >Crear oferta</a
          >
        </div>
      </div>
    </div>
    <div class="box">
      <div class="columns">
        <div class="column">
          <h2 class="title has-text-black">
            Canastas
          </h2>
        </div>
        <div class="column">
          <a
            class="button is-info is-medium is-fullwidth"
            href="admin/canasta/list"
          >Lista canastas</a
          >
        </div>
        <div class="column">
          <a
            class="button is-info is-medium is-fullwidth"
            href="catalogo/canasta/create"
          >Crear canasta</a
          >
        </div>
      </div>
    </div>
  </div>

</div>
