<h1 class="title">Perfil del productor {{productor.nombre}}</h1>
<div class="column is-12 is-offset-0">
  <div class="box">
    <div class="columns">
      <div class="column">
        <img src="{{productor.fotoProveedot}}">
      </div>
      <div class="column">
        <ul>
          <li>
            Numero de telefono:{{productor.numeroTelefono}}
          </li>
          <li>
            Direccion:{{productor.direccion}}
          </li>
          <li>
            Estado:{{productor.activado}}
          </li>
          <li>
            Descripcion:{{productor.descripcion}}
          </li>
        </ul>
      </div>
    </div>
    <div>
        <app-oferta-list></app-oferta-list>
    </div>
  </div>
</div>
