<h1 class="title">Perfil del productor {{productor.nombre}}</h1>
<div class="column is-12 is-offset-0">
  <div class="box">
    <div class="columns">
      <div class="column">
        <img src="{{productor.fotoProveedor}}">
      </div>
      <div class="column">
        <ul>
          <li class="is-size-2">
            Numero de telefono:{{productor.numeroTelefono}}
          </li>
          <li class="is-size-2">
            Direccion:{{productor.direccion}}
          </li>
          <li class="is-size-2">
            Estado:{{productor.activado}}
          </li>
          <li class="is-size-2">
            Descripcion:{{productor.descripcion}}
          </li>
        </ul>
      </div>
    </div>
    <div>
      <h2 class="is-size-1">Ofertas del productor</h2>
        <app-oferta-list></app-oferta-list>
    </div>
  </div>
</div>