<div class="column">
  <h1 class="title">Productos seleccionados</h1>
  <div class="box">
    <div class="field">
      <div class="control has-icons-right">
        <input class="input is-medium" type="text" placeholder="Buscar por nombre del producto">
        <span class="icon is-small is-right">
          <fa-icon [icon]="faSearch"></fa-icon>
        </span>
      </div>
    </div>
    <div class="columns is-vcentered" *ngFor="let cantidad of oferta.cantidadesProducto">
      <div class="column is-5 has-text-left is-size-3">
        <a
          href=""
        >{{cantidad.producto.productoCatalogo.nombre}}</a
        >
      </div>
      <div class="column is-1 ">
        <div class="field mb-0">
          <div class="control">
            <input
              class="input is-medium has-text-right cantidad"
              type="number"
              name="cantidad"
              value="{{cantidad.cantidad}}"
              required
              (change)="cambio(cantidad.producto.productoCatalogo, $event)"
            />
          </div>
        </div>
      </div>
      <div class="column is-1 has-text-left is-vcentered">
        {{cantidad.producto.productoCatalogo.unidad}}
      </div>
      <div class="column is-1 has-text-right">
        $
      </div>
      <div class="column is-1 ">
        <div class="field mb-0">
          <div class="control">
            <input
              class="input is-medium has-text-left"
              type="number"
              name="precio"
              value="{{cantidad.producto.precioPorUnidad}}"
              required
              (change)="cambioPrecio(cantidad.producto.productoCatalogo, $event)"
            />
          </div>
        </div>
      </div>

      <div class="column is-3">
        <button
          class="button is-danger is-medium is-fullwidth"
          (click)="eliminar(cantidad.producto.productoCatalogo)"
        >Eliminar
        </button
        >
      </div>
    </div>
    <div class="field columns">
      <div class="column">
        <button
          class="button is-danger is-medium is-fullwidth"
          href=""
        >Cancelar
        </button
        >
      </div>
      <div class="column">
        <button
          class="button is-info is-medium is-fullwidth"
          (click)="crear()"
        >Crear oferta
        </button
        >
      </div>

    </div>
  </div>
</div>
