<div class="column">
  <h3 class="title">Registro de canasta</h3>
  <div class="box">
    <form>
      <div class="field">
        <div class="control">
          <input
            class="input is-medium"
            type="text"
            name="nombre"
            placeholder="Nombre"
            autofocus=""
            required
          />
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <button
            class="button is-danger is-medium is-fullwidth"
            href=""
          >Cancelar</button
          >
        </div>
        <div class="column">
          <button class="button is-info is-medium is-fullwidth">
            Crear canasta
          </button>
        </div>
      </div>
    </form>
    <div class="column px-0 py-5">
      <div class="columns">
        <div class="field column is-9">
          <div class="control has-icons-right">
            <input class="input is-medium" type="text" placeholder="Buscar por nombre del producto">
            <span class="icon is-small is-right">
          <fa-icon [icon]="faSearch"></fa-icon>
        </span>
          </div>
        </div>
        <div class="column is-3">
          <button
            class="button is-info is-medium is-fullwidth"
          >Añadir
          </button
          >
        </div>
      </div>
      <div>
        <div class="has-text-left is-size-3 columns">
          <div class="column is-9">
            <a
              href=""
            >Nombre</a
            >
          </div>
          <div class="column is-3">
            <button
              class="button is-danger is-medium is-fullwidth"
            >Eliminar
            </button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
