<div class="column is-4 is-offset-4">
  <h3 class="title">Sign Up</h3>
  <div class="box">
    <form action="/signup" method="POST">
      <div class="field">
        <div class="control">
          <input
            class="input is-medium"
            name="email"
            placeholder="Correo electronico"
            required
            type="email"
          />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input
            class="input is-medium"
            name="name"
            placeholder="Nombre"
            required
            type="text"
          />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input
            class="input is-medium"
            name="lastname"
            placeholder="Apellido"
            required
            type="text"
          />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input
            class="input is-medium"
            name="password"
            placeholder="Contraseña"
            required
            type="password"
          />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input
            class="input is-medium"
            name="password2"
            placeholder="Comprobación de contraseña"
            required
            type="password"
          />
        </div>
      </div>
      <button class="button is-block is-info is-large is-fullwidth">
        Sign Up
      </button>
    </form>
  </div>
</div>
