<div class="column">
  <h3 class="title">Modificación de producto del catalogo</h3>
  <div class="box">
    <form id="form" onsubmit="return false">
      <div class="field">
        <div class="control">
          <input
            class="input is-medium"
            type="text"
            name="nombre"
            placeholder="Nombre"
            autofocus=""
            required
          />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input
            class="input is-medium"
            type="url"
            name="fotoProducto"
            placeholder="Foto Producto"
            autofocus=""
            required
          />
        </div>
      </div>
      <div class="field columns mb-0 is-vcentered">
        <div class="control column">
          <input
            class="input is-medium"
            type="text"
            name="unidad"
            placeholder="Unidad"
            required
          />
        </div>
        <div class="column">
          <p class="is-size-4 m-0" name="precio"></p>
        </div>
        <div class="column">
          <a
            class="button is-info is-medium is-fullwidth text-decoration-none"
            href="/admin/producto-catalogo/establecer-precio/{{productoCatalogo.id}}"
          >Editar precio</a
          >
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <a
            href="/admin/producto-catalogo/list"
            class="button is-danger is-medium is-fullwidth text-decoration-none"
            id="cancelar"
          >Cancelar</a
          >
        </div>
        <div class="column">
          <button class="button is-info is-medium is-fullwidth"  id="modificar">
            Modificar producto
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
