<div class="column">
  <h3 class="title">Modificación de producto del catalogo</h3>
  <div class="box">
    <form id="form" onsubmit="return false">
      <div class="field">
        <div class="control">
          <input
            class="input is-medium"
            type="text"
            name="nombre"
            placeholder="Nombre"
            autofocus=""
            required
          />
        </div>
      </div>
      <div class="field columns is-vcentered m-0">
        <div class="column has-text-left is-7">
          <label class="is-size-5">Ingrese el link o suba su propia imagen del producto con el siguiente
            botón:</label>
        </div>

        <div class="control column is-3">
          <input type="file" name="file" id="file" accept="image/*"/>
        </div>
        <div class="control column is-2">
          <button class="button is-danger is-fullwidth" id="removeFile">
            Remover imagen
          </button>
        </div>
      </div>
      <div class="field columns is-vcentered">
        <div class="control column ">
          <input
            class="input is-medium"
            type="url"
            name="fotoProducto"
            placeholder="Foto Producto"
            id="url"
            autofocus=""
          />
        </div>
      </div>
      <div class="field columns mb-0 is-vcentered">
        <div class="control column">
          <input
            class="input is-medium"
            type="text"
            name="unidad"
            placeholder="Unidad"
            required
          />
        </div>
        <div class="column">
          <p class="is-size-4 m-0" name="precio"></p>
        </div>
        <div class="column">
          <a
            class="button is-info is-medium is-fullwidth text-decoration-none"
            href="/admin/producto-catalogo/establecer-precio/{{productoCatalogo.id}}"
          >Establecer precio de venta</a
          >
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <a
            href="/admin/producto-catalogo/list"
            class="button is-danger is-medium is-fullwidth text-decoration-none"
            id="cancelar"
          >Cancelar</a
          >
        </div>
        <div class="column">
          <button class="button is-info is-medium is-fullwidth" id="modificar">
            Modificar producto
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
