<div class="hero-head">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-menu" id="navbarMenuHeroA">
        <div class="navbar-end">
          <a class="navbar-item text-decoration-none" href="home">
            Home
          </a>
          <a
            class="navbar-item text-decoration-none"
            href="admin/home"
          >
            Admin Panel
          </a>
          <a class="navbar-item text-decoration-none" href="usuario/productor-postulante/create">
            Postularse
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>
