<div class="hero-head">
  <nav class="navbar">
    <div class="container">
      <div id="navbarMenuHeroA" class="navbar-menu">
        <div class="navbar-end">
          <a href="home" class="navbar-item">
            home
          </a>
          <a
            href="catalogo"
            class="navbar-item"
          >
            Catalogo
          </a>
          <a
            href="catalogo/producto-catalogo/list"
            class="navbar-item"
          >
            Productos
          </a>
          <a
            href="admin/home"
            class="navbar-item"
          >
            Admin panel
          </a>
          <a href="auth/login" class="navbar-item">
            Login
          </a>
          <a href="auth/signup" class="navbar-item">
            Signup
          </a>
          <a href="home" class="navbar-item">
            Logout
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>
