<div class="hero-head">
  <nav class="navbar">
    <div class="container">
      <div id="navbarMenuHeroA" class="navbar-menu">
        <div class="navbar-end">
          <a href="home" class="navbar-item text-decoration-none">
            Home
          </a>
          <a
            href="admin/home"
            class="navbar-item text-decoration-none"
          >
            Admin Panel
          </a>
          <a href="usuario/productor-postulante/create" class="navbar-item text-decoration-none">
            Postularse
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>
