<h1 class="title">Panel de control</h1>
<div class="column is-12 is-offset-0">
  <div class="box">
    <div class="box">
      <div class="columns">
        <div class="column">
          <h2 class="title has-text-black">
            Productos catalogo
          </h2>
        </div>
        <div class="column">
          <a
            class="button is-info is-medium is-fullwidth text-decoration-none"
            href="admin/producto-catalogo/list"
          >Lista productos catalogo</a
          >
        </div>
        <div class="column">
          <a
            class="button is-info is-medium is-fullwidth text-decoration-none"
            href="catalogo/producto-catalogo/create"
          >Crear producto catalogo</a
          >
        </div>
      </div>
      <div class="columns">
        <div class="column is-4">
          <h2 class="title has-text-black">
            Canastas
          </h2>
        </div>
        <div class="column">
          <a
            class="button is-info is-medium is-fullwidth text-decoration-none"
            href="admin/canasta/list"
          >Lista canastas</a
          >
        </div>
      </div>
      <div class="columns">
        <div class="column is-4">
          <h2 class="title has-text-black">
            Productores postulantes
          </h2>
        </div>
        <div class="column">
          <a
            class="button is-info is-medium is-fullwidth text-decoration-none"
            href="usuario/productor-postulante/list"
          >Lista de productores postulantes</a
          >
        </div>
    </div>
  </div>

</div>
