<h1 class="title">Establecer precio de venta</h1>
<div class="column is-12 is-offset-0">
  <div class="box">
    <div class="box">
      <form id="form" onsubmit="return false">
        <div class="field columns mb-0 is-vcentered">
          <div class="column">
            <b class="is-size-4">Nombre:</b>
          </div>
          <div class="column">
            <p class="is-size-4 m-0" name="nombre"></p>
          </div>
        </div>
        <div class="field columns mb-0 is-vcentered">
          <div class="column">
            <b class="is-size-4" name="unidad"></b>
          </div>
          <div class="column">
              <input
                class="input is-medium"
                type="number"
                name="precio"
                min="0"
                step=".01"
                placeholder="Precio"
                required
              />
          </div>
        </div>
        <div class="field columns mb-0 is-vcentered">
          <div class="column">
            <b class="is-size-5">Mínimo:</b>
          </div>
          <div class="column">
            <b class="is-size-5">Promedio:</b>
          </div>
          <div class="column">
            <b class="is-size-5">Máximo:</b>
          </div>
        </div>
        <div class="field columns mb-0">
          <div class="column">
            <p class="is-size-5" name="min"></p>
          </div>
          <div class="column">
            <p class="is-size-5" name="avg"></p>
          </div>
          <div class="column">
            <p class="is-size-5" name="max"></p>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <a
              href="/admin/producto-catalogo/list"
              class="button is-danger is-medium is-fullwidth text-decoration-none"
              id="cancelar"
            >Cancelar</a
            >
          </div>
          <div class="column">
            <button class="button is-info is-medium is-fullwidth"  id="modificar">
              Modificar precio
            </button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
